:valid {

}
label {
	color:orange;
}
input:invalid {
	background-color:#666666;
	color:#666666;}

.bk-form-ins{
	background-color:#333;
	margin-top:-1rem !important;}
.wrap-form {
	border-radius:50% 0 0 50%;
	width:100%;
	box-shadow:-20px 0px 20px -5px #404040;
	}