/*
. est pour une class 
# est pour une idée
* pour une universalité (genre la totalité de la page)
: pour les pseudo-classe
:: pour les pseudo-élément
--------------------
text-align c'est quand tu veux positionner comme sur openoffice genre gauche droite centré
*/
* {
  transition: all 1s;
}

/*body{
  margin: 0;
}*/

/* ------------------------------ Partie header ------------------------------ */
#logo {
  width: 20em;
  height: auto;
}

#navbar {
  background-color: #8B4513;
}

.btn-custom {
  color: whitesmoke !important;
  background-color: #8B4513;
  border: none;
}

@media all and (min-width:767px) and (max-width: 4096px) {
  .caché {
    display: none;
  }
}

/* ------------------------------ Partie footer ------------------------------ */
.ulfooter {
  background-color: #8B4513;
  list-style-type: none;
  padding: 1em;
}

.lifooter {
  /* mettre en ligne tout les <li>*/
  display: inline;
}

@media all and (min-width:348px) and (max-width: 767px) {
  .lifooter {
    display: none;
  }
}

/* ------------------------------ Partie index ------------------------------ */
h3 {
  font: italic 1.3em "Fira Sans", serif;
  color: rgb(192, 85, 13);
  text-align: center;
  text-decoration: underline;
}

h1 {
  font: italic 2em Georgia, serif;
  color: rgb(255, 0, 0);
  text-align: center;
}

#asideindex {
  background-color: #E7E7E7;
  padding-bottom: 20em;
  position: right;
}

/* ------------------------------ Partie du tableau (Pour que les images du tableau reste à une taille correcte sur teléphone) ------------------------------ */
table,
tr,
td,
th {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media all and (min-width:992px) and (max-width: 4096px) {
  #visuel {
    border: 1px solid lightgrey;
    border-radius: 1em;
    max-width: 10em;
    height: auto;
  }
}

@media all and (min-width:348px) and (max-width: 992px) {
  #visuel {
    border: 1px solid lightgrey;
    border-radius: 1em;
    max-width: 7em;
    height: auto;
  }
}

/* ------------------------------ Partie du CRUD ------------------------------ */
@media all and (min-width:992px) and (max-width: 4096px) {
  h2 {
    font: italic 2em Georgia, serif;
    color: rgb(255, 0, 0);
    text-align: center;
  }
}

@media all and (min-width:348px) and (max-width: 1280px) {
  .offset-3 {
    margin-left: 12.5% !important;
  }

  .w-50 {
    width: 75% !important;
  }
}